{
  root: true,
  extends: ["eslint:recommended", "plugin:jest/recommended", "plugin:@typescript-eslint/recommended"],
  plugins: ["babel", "jest", "@typescript-eslint"],
  parser: '@typescript-eslint/parser',
  env: {
    node: true,
    es6: true,
    "jest/globals": true
  },
  rules: {
    "no-case-declarations": "off",
    "object-curly-spacing": "error",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
