{
  root: true,
  extends: ["eslint:recommended", "plugin:jest/recommended", "plugin:@typescript-eslint/recommended"],
  plugins: ["babel", "jest", "@typescript-eslint"],
  parser: "babel-eslint",
  env: {
    node: true,
    es6: true,
    "jest/globals": true
  },
  rules: {
    "no-case-declarations": 0,
    "object-curly-spacing": 2
  }
}
